{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    {% assign href = "" %}
    {% if post.paperurl %}
      {% assign href = post.paperurl %}
    {% else %}
      {% assign href = base_path | append: post.url %}
    {% endif %}
    <h3 class="archive__item-title cv-pub-title" itemprop="headline">
      <a href="{{ href }}" target="_blank" rel="noopener">{{ title }}</a>
    </h3>
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.venue %}
      {% assign stripped_cite = post.citation | replace: post.title, "" %}
      {% assign cite = stripped_cite | replace: "Jiaqi Tian", "<strong>Jiaqi Tian</strong>" | markdownify | remove: "<p>" | remove: "</p>" %}
      <p class="archive__item-excerpt cv-pub-cite" itemprop="description">{{ cite }}</p>
    {% endif %}
    </li>
 </article>
</div>
