{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% assign href = "" %}
{% if post.link %}
  {% assign href = post.link %}
{% else %}
  {% assign href = base_path | append: post.url %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title cv-pub-title talk-title-cv" itemprop="headline">
      <a href="{{ href }}" {% if post.link %}target="_blank" rel="noopener"{% endif %}>{{ title }}</a>
    </h3>
    {% if post.date %}<p class="page__meta cv-talk-date"><i class="fa fa-clock" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>{% endif %}
    {% if post.venue %}<p class="archive__item-excerpt talk-venue-cv" itemprop="description">{{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}</p>{% endif %}
    </li>
  </article>
</div>

